.search_tab {
	margin-bottom: 20px;
	padding: 0 17px;
	font-size: 0;
}

.search_tab a {
	display: inline-block;
	width: 20%;
	height: 35px;
	padding-top: 6px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-left: 0;
	text-align: center;
	font-size: 1.4rem;
	letter-spacing: -0.5px;
}

.search_tab a:first-child {
	border-left: 1px solid #ddd;
	border-radius: 4px 0 0 4px;
}

.search_tab a:last-child {
	border-radius: 0 4px 4px 0;
}

.search_tab a.on {
	border-color: #174797;
	background: #174797;
	color: #fff;
}

.store_list {
	margin-bottom: 20px;
	padding: 10px 0;
	background: #f5f6f7;
}
.store_list ul li {
	position: relative;
	margin-top: 10px;
	padding-top: 15px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-radius: 4px;
	background: #fff;
	overflow: hidden;
}
.store_list ul li:first-child {
	margin-top: 0;
}

.store_list .info {
	padding: 0 17px 17px 17px;
}

.store_list .info .thumbnail {
	position: absolute;
	top: 20px;
	left: 20px;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 20px;
	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	text-indent: -1000px;
	overflow: hidden;
}

.store_list .info .name,
.store_list .info .category {
	display: inline-block;
	vertical-align: top;
}

.store_list .info .name {
	font-size: 18px;
	font-weight: 600;
}

.store_list .info .category {
	margin: 5px 0 0 2px;
	font-size: 1.3rem;
	color: #999;
}

.store_list .info div {
	display: block;
	margin-top: 7px;
	line-height: 160%;
	font-size: 1.4rem;
}

.store_list .info div:last-child {
	margin-top: 5px;
}

.store_list .info input.bt2 {
	margin-left: 2
	px;
}

.store_list .banner_wrap.imgType {
	font-size: 0;
}

.store_list .banner_wrap.imgType img {
	width: 100%;
}

.store_list .banner_wrap.txtType a {
	display: block;
	padding: 10px 0;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -1px;
	color: #fff;
}

.store_list .banner_wrap.txtType.cadetblue {
	background: #5f9ea0;
}

.store_list .banner_wrap.txtType.cornflowerblue {
	background: #6494ed;
}

.store_list .banner_wrap.txtType.steelblue {
	background: #4582b4;
}

.store_list .banner_wrap.txtType.mediumpurple {
	background: #936fdb;
}

.store_list .bt_wrap {
	border-top: 1px solid #eee;
	font-size: 0;
}

.store_list .bt_wrap a {
	display: inline-block;
	width: 25%;
	padding: 7px 0;
	box-sizing: border-box;
	border-left: 1px solid #eee;
	text-align: center;
	font-size: 1.4rem;
}

.store_list .bt_wrap.item3 a {
	width: 33%;
}

.store_list .bt_wrap.item3 a:nth-child(2) {
	width: 34%;
}

.store_list .bt_wrap a img {
	width: 12px;
	margin-top: 5px;
	vertical-align: top;
}

.storeView {
	margin-bottom: 20px;
}
.storeView .text {
	padding: 0 17px;
	font-size: 1.4rem;
}

.storeView .text div {
	margin-top: 20px;
}

.storeView .text div a {
	text-decoration: underline;
	color: navy;
}

.storeView .text div strong {
	display: block;
}
.storeView img {
	display: block;
	width: 100%;
	margin-top: 20px;
}

.storeView .tags {
	margin-top: 20px;
	padding: 0 17px;
}

.storeView .tags a {
	background: #f5f6f7;
}

.store_add { padding: 20px; }
.store_add input[type="text"] { margin-top: 5px; }
.store_add input[type="text"]:first-child { margin-top: 0; }
.store_add textarea { min-height: 200px; resize: vertical; }
.store_add .image ul li {
	margin-top: 5px;
}
.store_add .image ul li:first-child {
	margin-top: 0;
}

.store_add #ipt_tag {

	}

.store_add .tags ul li {
	display: inline-block;
	margin-top: 5px;
}

.store_add .tags ul li::before {
	content: "#";
}

.store_add .tags ul li::after {
	content: ",";
}

.store_add .tags ul li:last-child::after {
	content: "";
}


.noResult {
	padding: 40px 20px 20px 20px;
	text-align: center;
}

.noResult img {
	width: 100px;
	transform: rotate(-20deg);
	animation-duration: 1s;
	animation-name: rotation;
	animation-iteration-count: infinite;
}


@keyframes rotation {
	0 {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-20deg);
	}
}

.noResult p {
	margin-top: 16px;
	font-size: 2.2rem;
	font-weight: 600;
	color: #17538f;
	letter-spacing: -0.5px;
}

.noResult ul {
	margin-top: 20px;
	padding: 20px;
	background: #f5f5f5;
	text-align: left;
}

.noResult ul li {
	line-height: 160%;
	font-size: 1.4rem;
}

.noResult ul li::before {
	content: "- ";
}

.section_type1 {
	padding: 20px;
}

.section_type1 strong {
	display: block;
	margin-bottom: 10px;
	font-size: 1.8rem;
}

.section_type1 .bt_wrap {
	margin-top: 20px;
}

.searchAdd {
	position: relative;
	margin-bottom: 7px;
}
.searchAdd input[type="button"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #17538f;
	font-size: 1.4rem;
	color: #fff;
}

.member_wrap {
	padding: 0 17px 20px 17px;
}

.member_wrap .guide {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #ff4500;
}

.member_wrap p {
	margin-bottom: 14px;
	font-size: 1.4rem;
}

.member_wrap .bt4 {
	margin-top: 20px;
}

.name_set {
	margin-bottom: 30px;
}

.pImg_set .list {
	margin-bottom: 10px;
	font-size: 0;
}

.pImg_set .list input[type="radio"] {
	display: none;
}

.pImg_set .list label {
	display: inline-block;
	margin: 10px 0 0 2%;
}

.pImg_set .list label:nth-of-type(6n-5) {
	margin-left: 0;
}

.pImg_set .list label:nth-of-type(-n+6) {
	margin-top: 0;
}

.pImg_set .list input[type="radio"]:checked + label {
	border: 1px solid #302f5c;
}

.pImg_set .list label.pImg {
	width: 15%;
	background-size: 90%;
}

.msg_wrap {
	padding: 10px 0;
	background: #f5f6f7;
}

.msg_wrap .item {
	position: relative;
	margin-top: 10px;
	background: #fff;
}

.msg_wrap .item:first-child {
	margin-top: 0;
}

.msg_wrap .top {
	position: relative;
	height: 40px;
	padding: 15px 17px 15px 70px;
	border-top: 1px solid #eee;
	border-bottom: 1px dotted #eee;
}

.msg_wrap .top .pImg {
	position: absolute; 
	top: 15px;
	left: 17px;
}

.msg_wrap .top .info .writer {
	font-size: 1.5rem;
}

.msg_wrap .top .info .date {
	font-size: 1.2rem;
	color: #999;
}

.msg_wrap .top .info .bt_edit {
	font-size: 1.2rem;
	font-weight: 600;
	color: #999;
}

.msg_wrap .msg {
	padding: 12px 17px 15px 17px;
	border-bottom: 1px dotted #eee;
}

.msg_wrap .msg.hide {
	display: none;
}

.msg_wrap .msg p {
	font-size: 1.4rem;
}

.msg_wrap .bt_wrap {
	text-align: left;
}

.msg_wrap .bt_wrap a {
	display: inline-block;
	margin-top: 10px;
	padding: 2px 5px;
	border: 1px solid #555;
	border-radius: 2px;
	font-size: 1.2rem;
}

.msg_wrap .bottom_wrap {
	position: relative;
	padding: 15px 17px;
	border-bottom: 1px solid #eee;
}

.msg_wrap .bottom_wrap input[type="checkbox"] {
	display: none;
}

.msg_wrap .bottom_wrap .bt_msg_like + label,
.msg_wrap .bottom_wrap span,
.msg_wrap .bottom_wrap a {
	display: inline-block;
	vertical-align: middle;
}

.msg_wrap .bottom_wrap .bt_msg_like + label {
	width: 20px;
	height: 18px;
	margin-right: 5px;
	background: url(/resources/img/msg/like.png) no-repeat 0 0 /20px;
	text-indent: -300px;
	overflow: hidden;
	cursor: pointer;
}

.msg_wrap .bottom_wrap span,
.msg_wrap .bottom_wrap a,
.msg_wrap .bottom_wrap .bt_del,
.msg_wrap .bottom_wrap .bt_share {
	font-size: 1.2rem;
	color: #777;
}

.msg_wrap .bottom_wrap .left span {
	margin-right: 10px;
}

.msg_wrap .bottom_wrap a,
.msg_wrap .bottom_wrap .bt_del,
.msg_wrap .bottom_wrap .bt_share {
	font-weight: 600;
}

.msg_wrap .bottom_wrap .bt_msg_like:checked + label {
	background-image: url(/resources/img/msg/like_on.png);
}

.msg_wrap .bottom_wrap .right {
	position:absolute;
	top: 15px;
	right: 15px;
	text-align: right;
}

.msg_wrap .bottom_wrap .msg_out_wrap,
.msg_wrap .bottom_wrap .msg_hide_wrap {
	display: inline-block;
}

.msg_wrap .bottom_wrap .msg_out_wrap .bt_msg_out + label,
.msg_wrap .bottom_wrap .msg_hide_wrap .bt_msg_hide + label {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2rem;
	font-weight: 400;
	color: #777;
	cursor: pointer;
}

.msg_wrap .bottom_wrap .msg_out_wrap .bt_msg_out + label {
	margin-left: 10px;
}

.msg_wrap .bottom_wrap .msg_hide_wrap span {
	height: 20px;
	margin-right: 10px;
	padding-left: 25px;
	background: url(/resources/img/msg/msg_hide_count.png) no-repeat 0 0 /20px;
	line-height: 170%;
}

.msg_wrap .bottom_wrap .msg_out_wrap span {
	margin-right: 10px;
}

.msg_wrap .bottom_wrap .bt_edit,
.msg_wrap .bottom_wrap .bt_del,
.msg_wrap .bottom_wrap .bt_share {
	margin-left: 10px;
}


.msg_wrap .bottom_wrap .bt_del,
.msg_wrap .bottom_wrap .bt_share {
	vertical-align: middle;
	background: transparent;
}

.talk_wrap .top {
	position: relative;
	height: 56px;
	padding: 14px 17px 0 17px;
	box-sizing: border-box;
	background: #174797;
	font-size: 0;
}

.talk_wrap .top .bt_prev,
.talk_wrap .top strong {
	display: inline-block;
	vertical-align: middle;
}

.talk_wrap .top .bt_prev {
	margin-right: 16px;
}

.talk_wrap .top .bt_prev img {
	width: 10px;
}

.talk_wrap .top strong {
	font-size: 1.9rem;
	font-weight: normal;
	color: #fff;
}

.talk_wrap .top .bt_write {
	position: absolute;
	top: 16px;
	right: 17px;
	font-size: 1.6rem;
	font-weight: normal;
	color: #fff;
}

.talk_wrap .msg_area {
	font-size: 0;
}

.talk_wrap .msg_area textarea  {
	height: 240px;
	padding: 15px 17px;
	font-size: 1.6rem;
}

.talk_wrap .comment_area {
	padding-bottom: 76px;
}

.talk_wrap .comment_area .item .original,
.talk_wrap .comment_area .item .reply_item {
	position: relative;
    min-height: 40px;
    padding: 15px 17px 15px 69px;
    border-bottom: 1px solid #eee;
    font-size: 1.3rem;
}

.talk_wrap .comment_area .item .reply {
    background: #f5f6f7;
}

.talk_wrap .comment_area .item:first-child {
    border-top: 1px solid #eee;
}

.talk_wrap .comment_area .item .pImg {
	position: absolute;
    top: 15px;
    left: 17px;
}

.talk_wrap .comment_area .item .writer {
	display: inline-block;
	margin-right: 5px;
	font-weight: 600;
}

.talk_wrap .comment_area .item .info {
	position: relative;
	font-size: 1.2rem;
	color: #999;
}

.talk_wrap .comment_area .item .eImg {
	margin: 10px 0;
	font-size: 0;
}

.talk_wrap .comment_area .item .eImg img {
	width: 100px;
}

.talk_wrap .comment_area .item .info .right {
	position: absolute;
	top: 0;
	right: 0;
}

.talk_wrap .comment_area .item .info .right a {
	display: inline-block;
	margin-left: 5px;
	font-size: 1.2rem;
	font-weight: 600;
}

.talk_wrap .comment_write_area {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #ddd;
}

.talk_wrap .top .bt_comment_write {
	position: absolute;
	top: 16px;
	right: 20px;
	background: transparent;
	font-size: 1.6rem;
	font-weight: normal;
	color: #fff;
}

.talk_wrap .comment_write_area .bg {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
}

.talk_wrap .comment_write_area .comment_write {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.talk_wrap .comment_write_area .comment_write input[type="text"] {
	width: 100%;
	box-sizing: border-box;
	padding: 18px 17px;
	font-size: 1.4rem;
}

.talk_wrap .comment_write_area .comment_write input[type="button"] {
	position: absolute;
	bottom: 1px;
	width: 56px;
	height: 56px;
	font-size: 1.4rem;
	color: #fff;
}

.talk_wrap .comment_write_area .comment_write .bt_emoticon {
	right: 56px;
	background: #ccc url(/resources/img/comm/bt_emoticon.png) no-repeat 50% 50% /26px;
	text-indent: -1000px;
	overflow: hidden;
}

.talk_wrap .comment_write_area .comment_write .bt_emoticon.open {
	background-color: #aee317;
}

.talk_wrap .comment_write_area .comment_write .bt_submit {
	right: 0;
	background: #174797;
}

.talk_wrap .emoticon_area {
	position: fixed;
	bottom: 56px;
	left: 0;
	display: none;
	width: 100%;
}

.talk_wrap .emoticon_area .selected {
	position: relative;
	display: none;
	padding: 15px 0;
	background: rgba(0, 0, 0, 0.2);
}

.talk_wrap .emoticon_area .selected img {
	display: block;
	width: 120px;
	height: 120px;
	margin: 0 auto;
}

.talk_wrap .emoticon_area .selected .bt_close {
	position: absolute;
	top: 17px;
	right: 17px;
	width: 20px;
	height: 20px;
	background: transparent url(/resources/img/comm/bt_close.png) no-repeat 0 0 /20px;
	text-indent: -1000px;
	overflow: hidden;
}

.talk_wrap .emoticon_area .list {
	height: 66px;
	padding: 15px 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.5);
	font-size: 0;
	overflow: hidden;
}

.talk_wrap .emoticon_area .list > div {
	height: 200px;
	overflow-x: auto;
}

.talk_wrap .emoticon_area .list li {
	display: inline-block;
	margin-left: 10px;
}

.talk_wrap .emoticon_area .list li:first-child {
	margin-left: 0;
}

.talk_wrap .emoticon_area .list input {
	display: none;
}

.talk_wrap .emoticon_area .list input + label {
	cursor: pointer;
}

.talk_wrap .emoticon_area .list input + label img {
	width: 36px;
	height: 36px;
	box-sizing: border-box;
}

.talk_wrap .emoticon_area .list input:checked + label img {
	border: 2px solid gold;
}




















/**/