.idx_category {
	padding: 25px 7px;
}

.idx_category_more {
	display: none;
	margin-top: 20px;
}

.idx_category ul {
	font-size: 0;
}

.idx_category li {
	display: inline-block;
	width: 25%;
	margin-top: 20px;
	vertical-align: middle;
	text-align: center;
}

.idx_category li:nth-child(-n+4) {
	margin-top: 0;
}

.idx_category a {
	display: inline-block;
	font-size: 1.4rem;
}

.idx_category a span {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 5px auto;
	border-radius: 100px;
	background-color: #f5f6f7;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 26px;
	background-color: #f5f6f7;
	background-image: url(/resources/img/index/category_icons.png);
	background-repeat: no-repeat;
	background-size: 200px;
	text-indent: -100px;
	overflow: hidden;
}

.idx_category a:hover span {
	background-color: #f0f1f2;
	transition: 0.5s;
}

.idx_category .restaurant span {
	background-position: 0 0;
}

.idx_category .cafe span {
	background-position: -50px 0;
}

.idx_category .hospital span {
	background-position: -100px 0;
}

.idx_category .mart span {
	background-position: -150px 0;
}

.idx_category .beauty span {
	background-position: 0 -50px;
}

.idx_category .academy span {
	background-position: -50px -50px;
}

.idx_category .law span {
	background-position: -100px -50px;
}

.idx_category .estate span {
	background-position: -150px -50px;
}


.idx_category .construction span {
	background-position: 0 -100px;
}


.idx_category .church span {
	background-position: -50px -100px;
}

.idx_category .bank span {
	background-position: -100px -100px;
}

.idx_category .organization span {
	background-position: -150px -100px;
}

.idx_category .plant span {
	background-position: 0 -150px;
}

.idx_category .catholic span {
	background-position: -50px -150px;
}

.idx_category .tax span {
	background-position: -100px -150px;
}


.idx_category .software span {
	background-position: -150px -150px;
}

.idx_category .stenograph span {
	background-position: 0 -200px;
}

.idx_category .kids span {
	background-position: -50px -200px;
}

.idx_category .health span {
	background-position: -100px -200px;
}

.idx_category .interior span {
	background-position: -150px -200px;
}

.idx_category .car span {
	background-position: 0 -250px;
}

.idx_category .entertainment span {
	background-position: -50px -250px;
}

.idx_category .fashion span {
	background-position: -100px -250px;
}

.idx_category .etc span {
	background-position: -150px -250px;
}

#contentsPrint > .bt_wrap {
	padding: 0 17px;
}

.idx_category .bt_wrap {
	margin-top: 20px;
	padding: 0 10px;
}

.idx_category .bt_cMore img {
	width: 12px;
	margin-left: 2px;
	padding-bottom: 3px;
	vertical-align: middle;
}

.virus_wrap .banner {
	font-size: 0;
}

.virus_wrap .banner img {
	width: 100%;
}

.virus_wrap .menus {
	display: table;
	width: 100%;
	font-size: 0;
}

.virus_wrap .menus a {
	display: table-cell;
	width: 33.3%;
	padding: 8px 0;
	vertical-align: middle;
	box-sizing: border-box;
	border-top: 1px solid #f0b3b3;
	border-left: 1px solid #f0b3b3;
	background: #a52a2a;
	text-align: center;
	font-size: 1.4rem;
	color: #fff;
	letter-spacing: -1px;
}

.virus_wrap .menus a:nth-child(3n-2) {
	width: 33.4%;
	border-left: 0;
}

.suggest {
	margin-bottom: 20px;
	padding: 10px 0;
	background: #f5f6f7;
}

.suggest a {
	display: block;
	width: 100%;
	margin-top: 10px;
	padding: 20px;
	box-sizing: border-box;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #fff url(/resources/img/index/suggest_more.png) no-repeat 100% 50% /30px;
}

.suggest a:first-child {
	margin-top: 0;
}

.suggest a span {
	display: block;
	font-size: 1.2rem;
	color: #777;
}

.suggest a b {
	display: block;
	font-size: 1.8rem;
	letter-spacing: -1px;
}


































/**/