.idx_category {
	padding: 25px 7px;
	font-size: 0;
}

.idx_category_more {
	display: none;
	margin-top: 20px;
}

.idx_category > a,
.idx_category_more > a {
	display: inline-block;
	width: 25%;
	margin-top: 20px;
	text-align: center;
	font-size: 1.4rem;
	vertical-align: middle;
}

.idx_category > a:nth-child(-n+4),
.idx_category_more > a:nth-child(-n+4) {
	margin-top: 0;
}

.idx_category > a > span,
.idx_category_more > a > span {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 5px auto;
	border-radius: 100px;
	background-color: #f5f6f7;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 26px;
	text-indent: -100px;
	overflow: hidden;
}

.idx_category .restaurant span {
	background-image: url(/resources/img/index/restaurant.png);
}

.idx_category .cafe span {
	background-image: url(/resources/img/index/cafe.png);
}

.idx_category .hospital span {
	background-image: url(/resources/img/index/hospital.png);
}

.idx_category .mart span {
	background-image: url(/resources/img/index/mart.png);
}

.idx_category .beauty span {
	background-image: url(/resources/img/index/beauty.png);
}

.idx_category .academy span {
	background-image: url(/resources/img/index/academy.png);
}

.idx_category .law span {
	background-image: url(/resources/img/index/law.png);
}

.idx_category .estate span {
	background-image: url(/resources/img/index/estate.png);
}


.idx_category .organization span {
	background-image: url(/resources/img/index/organization.png);
}


.idx_category .construction span {
	background-image: url(/resources/img/index/construction.png);
}

.idx_category .car span {
	background-image: url(/resources/img/index/car.png);
}

.idx_category .kids span {
	background-image: url(/resources/img/index/kids.png);
}

.idx_category .health span {
	background-image: url(/resources/img/index/health.png);
}

.idx_category .bank span {
	background-image: url(/resources/img/index/bank.png);
}

.idx_category .entertainment span {
	background-image: url(/resources/img/index/entertainment.png);
}


.idx_category .church span {
	background-image: url(/resources/img/index/church.png);
}

.idx_category .catholic span {
	background-image: url(/resources/img/index/catholic.png);
}

.idx_category .interior span {
	background-image: url(/resources/img/index/interior.png);
}

.idx_category .fashion span {
	background-image: url(/resources/img/index/fashion.png);
}

.idx_category .tax span {
	background-image: url(/resources/img/index/tax.png);
}

.idx_category .plant span {
	background-image: url(/resources/img/index/plant.png);
}

.idx_category .software span {
	background-image: url(/resources/img/index/software.png);
}

.idx_category .stenograph span {
	background-image: url(/resources/img/index/stenograph.png);
}

.idx_category .etc span {
	background-image: url(/resources/img/index/etc.png);
}

#contentsPrint > .bt_wrap {
	padding: 0 17px;
}

.idx_category .bt_wrap {
	margin-top: 20px;
	padding: 0 10px;
}