#wrap {
	width: 100%;
	min-width: 320px;
	max-width: 800px;
	min-height: 100%;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

#headerWrap {
    position: relative;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    z-index: 2;
}

#header {
    text-align: right;
}

#header .top {
	padding: 0 19px;
}

#header .logo_wrap {
    float: left;
}

#header .icons,
#gnb_wrap {
    display: inline-block;
    vertical-align: middle;
}

#header .logo_wrap a:first-child {
	margin-right: 10px;
}

#header .logo_wrap img {
    height: 22px;
}

#header .icons > a {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
	font-size: 0;
}

#header .icons .write {
	margin-right: 14px;
}

#header .icons .write img {
	height: 24px;
}

#header .icons .login img {
	height: 24px;
}

#header .search_wrap {
    position: relative;
    margin-top: 20px;
    padding: 0 17px;
    text-align: left;
}

#header .search_wrap input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 0 55px 0 15px;
    box-sizing: border-box;
    border: 2px solid #174797;
    border-radius: 4px;
    background: #fff;
    font-size: 1.6rem;
}

#header .search_wrap input[type="button"] {
    position: absolute;
    top: 15px;
    right: 35px;
    width: 21px;
    height: 21px;
    background: url(/resources/img/comm/search_on.png) no-repeat 0 0 /21px;
    text-indent: -100px;
    overflow: hidden;
}

#gnb_wrap #bt_gnb {
    display: none;
}

#gnb_wrap #bt_gnb + label {
    position: relative;
    display: block;
    width: 21px;
    height: 15px;
    font-size: 0;
    color: #fff;
    z-index: 2;
}

#gnb_wrap #bt_gnb + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(/resources/img/comm/menu.png) no-repeat 0 0 /21px;
    cursor: pointer;
}

#gnb_wrap #bt_gnb:checked + label::after {
    background: url(/resources/img/comm/menu_off.png) no-repeat 0 0 /21px;
}

#gnb_wrap #bt_gnb + label img {
    height: 15px;
    
}

#gnb {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#header #bt_gnb:checked ~ #gnb {
    display: block;
}

#gnb .bg {
	position: fixed;
	width: 100%;
	height: 100%;
}

#gnb ul {
	position: absolute;
	top: 0;
	right: 0;
    width: 170px;
    padding: 25px 20px;
    border-radius: 0 0 0 10px;
    background: #fff;
    text-align: left;
    box-shadow: 0 0 5px #ccc;	
}

#gnb ul li {
    margin-top: 12px;
}

#gnb ul li:first-child {
    margin-top: 0;
}

#gnb a {
    font-size: 1.6rem;
}

/* 복사완료 이모티콘
#msg-area {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 130px;
    height: 130px;
    margin: -65px 0 0 -65px;
    padding-top: 92px;
    box-sizing: border-box;
    background: #fff url(/resources/img/comm/msg-area.png) no-repeat 40% 30% /75px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.3rem;
    color: #000;
    font-style: italic;
}
*/

#msg-area {
	position: fixed;
	bottom: 10%;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
}

#msg-area span {
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	border-radius: 50px;
	background: rgba(0, 0, 0, 0.5);
	font-size: 1.4rem;
	color: #fff;
}

#containerWrap {
	position: relative;
	z-index: 1;
}

#footerWrap {
	position: relative;
    min-height: 103px;
    z-index: 3;
}

#footer {
    padding-top: 12px;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 1.2rem;
    color: #777;
}

#footer a {
	font-weight: 600;
	text-decoration: underline;
}

#fixedBanner {
    position: fixed;
    left: 0;
    bottom: 0;
	width: 100%;
    text-align: center;
    transition: 0.5s;
    font-size: 0;
}

#fixedBanner a {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#fixedBanner a img {
    width: 100%;
    max-width: 400px;
    max-height: 60px;
}

.popupWrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.popupWrap .popup {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.popup_selectMap,
.popup_selectShare {
    width: 270px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px #ddd;
}

.popup_selectMap strong,
.popup_selectShare strong {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.popup_selectMap ul,
.popup_selectShare ul {
    font-size: 0;
}

.popup_selectMap ul li,
.popup_selectShare ul li {
    display: inline-block;
    width: 90px;
    margin-top: 20px;
    text-align: center;
}

.popup_selectMap a,
.popup_selectShare a {
    font-size: 1.4rem;
}

.popup_selectMap img,
.popup_selectShare img {
    width: 50px;
    margin-bottom: 5px;
}

.popup_selectMap .bt_wrap,
.popup_selectShare .bt_wrap {
    margin-top: 20px;
    text-align: center;
}