#wrap {
	width: 100%;
	min-width: 320px;
	max-width: 800px;
	min-height: 100%;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

#headerWrap {
    position: relative;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    z-index: 2;
}

#header {
    text-align: right;
}

#header .top {
	padding: 0 20px;
}

#header .logo_wrap {
    float: left;
}

#header .login_wrap,
#gnb_wrap {
    display: inline-block;
    vertical-align: middle;
}

#header .logo_wrap a:first-child {
	margin-right: 10px;
}

#header .logo_wrap img {
    height: 22px;
    margin-top: 5px;
}

#header .search_wrap {
    position: relative;
    margin-top: 20px;
    padding: 0 20px;
    text-align: left;
}

#header .search_wrap input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 0 55px 0 15px;
    box-sizing: border-box;
    border: 2px solid #174797;
    border-radius: 4px;
    background: #fff;
    font-size: 1.6rem;
}

#header .search_wrap input[type="button"] {
    position: absolute;
    top: 15px;
    right: 35px;
    width: 20px;
    height: 20px;
    background: url(/resources/img/comm/search_on.png) no-repeat 0 0 /20px;
    text-indent: -100px;
    overflow: hidden;
}

#header .login_wrap,
#gnb_wrap {
    margin-left: 15px;
}

#header .login_wrap a img {
    height: 24px;
}

#gnb_wrap #bt_gnb {
    display: none;
}

#gnb_wrap #bt_gnb + label {
    position: relative;
    display: block;
    width: 21px;
    height: 15px;
    font-size: 0;
    color: #fff;
    z-index: 2;
}

#gnb_wrap #bt_gnb + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(/resources/img/comm/menu.png) no-repeat 0 0 /21px;
    cursor: pointer;
}

#gnb_wrap #bt_gnb:checked + label::after {
    background: url(/resources/img/comm/menu_off.png) no-repeat 0 0 /21px;
}

#gnb_wrap #bt_gnb + label img {
    height: 15px;
    
}

#gnb {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#header #bt_gnb:checked ~ #gnb {
    display: block;
}

#gnb .bg {
	position: fixed;
	width: 100%;
	height: 100%;
}

#gnb ul {
	position: absolute;
	top: 0;
	right: 0;
    width: 170px;
    padding: 30px 20px;
    border-radius: 0 0 0 10px;
    background: #fff;
    text-align: left;
    box-shadow: 0 0 5px #ccc;	
}

#gnb ul li {
    margin-top: 16px;
}

#gnb ul li:first-child {
    margin-top: 0;
}

#gnb a {
    font-size: 1.6rem;
}

#msg-area {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 38px;
    padding-top: 10px;
    box-sizing: border-box;
    background: rgba(23, 71, 151, 0.8);
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}

#containerWrap {
	position: relative;
	z-index: 1;
}

#fixedBanner {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

#footerWrap {
	position: relative;
    margin-top: 30px;
    min-height: 60px;
}

#footer {
    padding-top: 12px;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 1.4rem;
}

#fixedBanner.hide {
    bottom: -60px;
}

#fixedBanner a {
    display: block;
    height: 60px;
}

#fixedBanner a img {
    height: 60px;
}


.popupWrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.popupWrap .popup {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.popup_selectMap,
.popup_selectShare {
    width: 270px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px #ddd;
}

.popup_selectMap strong,
.popup_selectShare strong {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.popup_selectMap ul,
.popup_selectShare ul {
    font-size: 0;
}

.popup_selectMap ul li,
.popup_selectShare ul li {
    display: inline-block;
    width: 90px;
    margin-top: 20px;
    text-align: center;
}

.popup_selectMap a,
.popup_selectShare a {
    font-size: 1.4rem;
}

.popup_selectMap img,
.popup_selectShare img {
    width: 50px;
    margin-bottom: 5px;
}

.popup_selectMap .bt_wrap,
.popup_selectShare .bt_wrap {
    margin-top: 20px;
    text-align: center;
}