#wrap { width: 100%; min-width: 320px; }
#headerWrap {
    position: relative;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

#header {
    text-align: right;
}

#header .top {
	padding: 0 20px;
}

#header .logo_wrap {
    float: left;
}

#header .login_wrap,
#gnb_wrap {
    display: inline-block;
    vertical-align: middle;
}

#header .logo_wrap a:first-child {
	margin-right: 10px;
}

#header .logo_wrap img {
    height: 22px;
    margin-top: 5px;
}

#header .search_wrap {
    position: relative;
    margin-top: 20px;
    padding: 0 20px;
    text-align: left;
}

#header .search_wrap input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 0 55px 0 15px;
    box-sizing: border-box;
    border: 2px solid #174797;
    border-radius: 4px;
    background: #fff;
    font-size: 1.6rem;
}

#header .search_wrap input[type="button"] {
    position: absolute;
    top: 15px;
    right: 35px;
    width: 20px;
    height: 20px;
    background: url(/resources/img/comm/search_on.png) no-repeat 0 0 /20px;
    text-indent: -100px;
    overflow: hidden;
}

#header .login_wrap,
#gnb_wrap {
    margin-left: 15px;
}

#header .login_wrap a img {
    height: 24px;
}

#gnb_wrap #bt_gnb {
    display: none;
}

#gnb_wrap #bt_gnb + label {
    position: relative;
    display: block;
    width: 21px;
    height: 15px;
    font-size: 0;
    color: #fff;
    z-index: 2;
}

#gnb_wrap #bt_gnb + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(/resources/img/comm/menu.png) no-repeat 0 0 /21px;
    cursor: pointer;
}

#gnb_wrap #bt_gnb:checked + label::after {
    background: url(/resources/img/comm/menu_off.png) no-repeat 0 0 /21px;
}

#gnb_wrap #bt_gnb + label img {
    height: 15px;
    
}

#gnb {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#header #bt_gnb:checked ~ #gnb {
    display: block;
}

#gnb .bg {
	position: fixed;
	width: 100%;
	height: 100%;
}

#gnb ul {
	position: absolute;
	top: 0;
	right: 0;
    width: 170px;
    padding: 30px 20px;
    border-radius: 0 0 0 10px;
    background: #fff;
    text-align: left;
    box-shadow: 0 0 5px #ccc;	
}

#gnb ul li {
    margin-top: 16px;
}

#gnb ul li:first-child {
    margin-top: 0;
}

#gnb a {
    font-size: 1.6rem;
}


/*
#header { padding: 0 20px; }
#header h1 { line-height: 100%; }
#header h1 img { height: 28px; }
#header .search { position: relative; width: 100%; margin-top: 16px; }
#header .search input[type="text"] { width: 100%; padding: 6px 16px; box-sizing: border-box; border-radius: 100px; font-size: 18px; }
#header .search input[type="submit"] { position: absolute; top: 10px; right: 16px; display: block; width: 20px; height: 24px; background: url(/resources/img/comm/bt_search.png) no-repeat 0 0; background-size: 20px; text-indent: -100px; overflow: hidden; }

#gnbWrap .menu_opener {
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
    width: 32px;
    height: 32px;
    padding-top: 9px;
    box-sizing:border-box;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
    z-index: 2;
}

#gnbWrap .menu_opener span {
    position: absolute;
    left: 6px;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background: #fff;
    text-indent: -1000px;
    overflow: hidden;
    transition: 0.5s;
}

#gnbWrap .menu_opener span.line1 {
    top: 9px;
}

#gnbWrap .menu_opener span.line2 {
    top: 15px; 
}

#gnbWrap .menu_opener span.line3 {
    top: 21px;  
}

#gnbWrap .menu_opener.on span.line1 {
    top: 15px;
    transform: rotate(45deg);
}

#gnbWrap .menu_opener.on span.line2 {
    display: none;
}

#gnbWrap .menu_opener.on span.line3 {
    top: 15px;
    transform: rotate(-45deg);
}

#gnb {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    padding: 72px 20px 20px 20px;
    background: #2e53b2;
    z-index: 1;
}

#gnbWrap .menu_opener.on + #gnb {
    display: block;
}

#gnb ul {
    margin-bottom: 20px;
}

#gnb ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#gnb ul li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#gnb ul li a {
    display: block;
    padding: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

#gnb > a {
    display: inline-block;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    font-size: 1.2rem;
    color: #fff;
}
*/
#fixedBanner {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

#footerWrap {
    margin-top: 30px;
    min-height: 60px;
}

#footer {
    padding-top: 12px;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 1.4rem;
}

#fixedBanner.hide {
    bottom: -60px;
}

#fixedBanner a {
    display: block;
    height: 60px;
}

#fixedBanner a img {
    height: 60px;
}


.popupWrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.popupWrap .popup {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.popup_selectMap,
.popup_selectShare {
    width: 270px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px #ddd;
}

.popup_selectMap strong,
.popup_selectShare strong {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.popup_selectMap ul,
.popup_selectShare ul {
    font-size: 0;
}

.popup_selectMap ul li,
.popup_selectShare ul li {
    display: inline-block;
    width: 90px;
    margin-top: 20px;
    text-align: center;
}

.popup_selectMap a,
.popup_selectShare a {
    font-size: 1.4rem;
}

.popup_selectMap img,
.popup_selectShare img {
    width: 50px;
    margin-bottom: 5px;
}

.popup_selectMap .bt_wrap,
.popup_selectShare .bt_wrap {
    margin-top: 20px;
    text-align: center;
}